<div class="row">
    <div class="col-lg-4">
        <h2>Accessories</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Speakers</h4>
        <img src="app/img/speakers.jpg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h4>Seats</h4>
        <img src="app/img/seats.jpeg" height="150" width="150"/>
    </div>
    <div class="col-lg-12">
        <h4>Power Extension</h4>
        <img src="app/img/power-extension.jpeg" height="150" width="150"/>
    </div>
</div>