<h1>Contact Me</h1>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-6" style="width: 15%">
            <img width="125" height="125" alt="" src="app/img/top4.png" class="">
        </div>
        <div class="col-lg-6" style="width: 85%;">
            <h3>Please provide us with the information below and choose submit.</h3>
            <div class="panel-body" style="width: 74%">
                <div class="row">
                    <div class="form-group">
                        <label>First Name *</label><input name="total" ng-model="contactinfo.Name" class="form-control" ng-required>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <p style="text-align:center;"><button type="button" class="btn btn-success" ng-click="contactMe(contactinfo)">Submit</button></p>
