<div class="row">
    <h3>Excellence Motors: Customer Satisfaction is our Priority</h3>
    <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
    <p><img width="225" height="212" alt="" src="app/img/shutterstock_28649449.jpg" style="float:left;margin-right:10px;" class="">

        Welcome to the Excellence Motors website, your best choice for new and used cars and SUVs in the Seattle area. At Excellence, our community and customers matter the most to us. We proudly serve Seattle and Tacoma customers looking for a fantastic and trustworthy dealership. We love our community; see the great charity work and neighborhood support we offer to our loyal neighbors!

        Utilize our website to order parts, find dealer specials, or schedule service on your car or SUV in the Seattle and Tacoma areas. We even have our own Excellence Detailing Center and paint-less dent removal. We take great care of our Seattle and Tacoma neighbors.
    <p><a href="#/home">Read more...</a></p>

</div>
<hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">

<div class="row">
    <div class="col-md-6">
        <h3>Map and Directions</h3>
        <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
        <div>
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=45.504347,-122.680089&zoom=12&size=400x300&markers=color:blue%7C45.504347,-122.680089">
        </div>
        <button type="button" class="btb btn-info" style="margin-top: 15px; width: 400px;">
            Get Directions
        </button>
    </div>
    <div class="col-md-6">
        <h3>Latest News</h3>
        <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
        <h4>03/15/11</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#/home">&nbsp;More...</a></p>
        <h4>02/21/11</h4>
        <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis. <a href="#/home">More...</a></p>
        <h4>01/15/11</h4>
        <p>Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis. <a href="#/home">More...</a></p>
    </div>
</div>

<div class="row" style="margin-top: 40px">
    <div class="col-md-3">
        <h3>Featured</h3>
        <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
        <p style="text-align:center;"><img width="125" height="125" alt="" src="app/img/top3.png" class=""></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue.</p>
        <p style="text-align: center;"><button type="button" class="btn btn-info" ng-click="go('#/home')">Read more</button></p>
    </div>
    <div class="col-md-3">
        <h3>Services</h3>
        <hr style="border:none;background-color:#cccccc;color:#cccccc;height:1px;">
        <p style="text-align:center;"><img width="125" height="125" alt="" src="app/img/top1.png" class=""></p>
        <p>Cras elit nisl, rhoncus nec iaculis ultricies. Etiam pharetra, tellus sit amet congue vulputate.</p>
        <p style="text-align: center;"><button type="button" class="btn btn-info" ng-click="go('#/home')">Read more</button></p>
    </div>
    <div class="col-md-3">
        <h3>Offers</h3>
        <hr style="border:none;background-color:#C4D8E9;color:#C4D8E9;height:1px;">
        <p style="text-align:center;"><img width="125" height="125" alt="" src="app/img/top2.png" class=""></p>
        <p>Tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p>
        <p style="text-align: center;"><button type="button" class="btn btn-info" ng-click="go('#/home')">Read more</button></p>
    </div>
    <div class="col-md-3">
        <h3>Contact Us</h3>
        <hr style="border:none;background-color:#C4D8E9;color:#C4D8E9;height:1px;">
        <p style="text-align:center;"><img width="125" height="125" alt="" src="app/img/top4.png" class=""></p>
        <p>Cras elit nisl, rhoncus nec iaculis ultricies. Etiam pharetra, tellus sit amet congue vulputate.</p>
        <p style="text-align: center;"><button type="button" class="btn btn-info" ng-click="go('#/home')">Read more</button></p>
    </div>
</div>