<div class="row">
    <div class="col-lg-4">
        <h2>Parts and Service</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h4>Enter Date of Service (mm/dd/yyyy)</h4>
        <div class="input-group col-lg-12">
            <input type="text" class="form-control search-bar" placeholder="Date" aria-describedby="service-date">
        </div>
    </div>
    <div class="col-lg-6">
        <h4>Enter Service Reason</h4>
        <div class="input-group col-lg-12">
            <input type="text" class="form-control search-bar" placeholder="What seems to be the problem?" aria-describedby="service-reason">
        </div>
    </div>
</div>

<div class="row submit-button">
    <div class="col-lg-6">
        <button type="button" class="btn btn-success">Submit</button>
    </div>
</div>

<!--Check out these links for ideas:-->
<!--http://www.toyota.com/owners/parts-service/service-centers-->
<!--http://www.beavertonhonda.com/ServiceCenter-->
<!--http://www.kunibmw.com/service/index.htm-->
<!--http://www.kunilexusofportland.com/Our-Services-->